name: Run Javascript Tests

on: [push]

jobs:

  create-envfile:

    runs-on: ubuntu-latest

    steps:
    - name: Make envfile
      uses: SpicyPizza/create-envfile@v1
      with:
        SECRET: ${{ secrets.SECRET }}
        SINGLE_USE_TOKENS: ${{ secrets.SINGLE_USE_TOKENS}}


  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      run: |
        npm i
        npm test
      env:
        CI: true

